
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>
<h1><a href="/Home/Index"><img src="~/Logo/TECHSPO_Logo.PNG" alt="TECHSPO_Logo.PNG"></a></h1>
<h3><strong>CONTACT INFORMATION</strong></h3><br>
<h4><b>Address</b></h4>
<h4>1500 Broadway, 5th Floor<</h4>
<h4>New York, NY 10036</h4>
<h4>United States</h4><br>
<h4><b>Call Us</b></h4>
<h4>+1 800 805 5385</h4>
<h4>+1 800 805 5389</h4>
